<div class="container">
	<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="product-reviews">
		    <% @comments.each do |comment| %>
		            <hr >
		            <h3>Reviews:</h3>
		            <hr >
		            <p><%= comment.user.first_name %> <small></small></p></br><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>

		      <div class="rated" data-score="<%= comment.rating %>"></div>
						<p><%= comment.body %></p>
					</div>

		    <% end %>

		    
		</div>
		<h3><%= will_paginate @comments %></h3>
	</div>
	</div>
</div>

