<% cache product do %>
<%= link_to(product) do %>
  <div class="col-sm-4 col-md-4 col-lg-3" class="text-decoration:none">
    <div class="card-outline-warning mb-3 text-center">
    <div class="card-block">
      <ul class="list-group ">
        <li class="list-group-item" id="image"><%= image_tag(product.image_url, class: "img-fluid") rescue nil %>
        </li>
        <li class="list-group-item" id="name-text"><strong> <%= product.name %> </strong>
        </li>
        <li class="list-group-item"><%= product.description %>
        </li>
        <li class="list-group-item" id="name-text"><strong>Price: <%= product.price %> </strong>
        </li>
        <li class="list-group-item"><%= link_to "see more ...", product %></li>
      </ul>
    </div>
    </div>
  </div><!-- /col -->
<% end %>   
<% end %>

    
