<div class="container">

  <h1><%= @product.name %></h1>

  <div class="row" id="show">

    <div class="col-md-6 col-sm-12">
      <center><%= image_tag(@product.image_url, width: "350", class: "img-zoom img-responsive",data_zoom_image: @product.image_url) rescue nil %></center>

      <p>
        <%= @product.description %>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price: </strong>
        <%= @product.price %>
      </p>

      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

      </div>

      <div class="col-md-6 col-sm-12">

        <%= render 'new_comment' %>  
        <%= render 'comments' %>

      </div>

  </div>
  
</div>

         
