<div class="container">

<h1><%= @product.name %></h1>

<div class="row" id="show" data-product-id="<%= @product.id %>">

  <div class="col-md-6 col-sm-12"><%= image_tag(@product.image_url, width: "350", class: "img-zoom img-responsive", data_zoom_image: @product.image_url) rescue nil %></div>

  <div class="col-md-6 col-sm-12">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Price: </strong>
      <%= @product.price %>
    </p>

  </div>

</div>
</div>
<%= link_to 'Back', products_path %>
