<!DOCTYPE html>
<html>
  
	<%= render 'layouts/head' %>
   
<body>

	<%= render 'layouts/nav' %>
	<%= render 'layouts/login' %>
	

  <%= yield %>

	<%= render 'layouts/footer' %> 
  

</body>

</html>
