<!DOCTYPE html>
<html>

	<%= render 'layouts/head' %>
   
<body>

	<%= render 'layouts/nav' %>


		<div class="container-fluid">
		  <p class="notice text-info"><%= notice %></p>
		  <p class="alert text-danger"><%= alert %></p>
		</div><!-- flash-notices -->
	
  <%= yield %>

	<%= render 'layouts/footer' %> 
  

</body>

</html>
